button{
  padding: 14px;
  background: black;
  border-radius: 10px;
  margin: auto;
  color: aqua;
  border-color: aqua;
  font-weight: bold;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}
button:hover{
  background: aqua;
  color: black;
}
.head1{
  text-align: center;
  color: black;
  text-shadow: 2px 2px aqua,-2px 2px aqua,2px -2px aqua,-2px -2px aqua;
  font-size: 2.7rem;
}